.LoginForm-div1{
    width: 70%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.LoginForm-div2{
    width: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.LoginForm-div2-h1{
    font-weight: 600;
}
.LoginForm-Btn{
    width: 200px;
}
.to-signup-div{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.to-signup-div-h4{
    margin-top: 11px;
}